.card {
    background: lightblue;
    border-radius:.5rem;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 8px 0px rgba( 0, 0, 0, 1 );	
    border-width:.25rem;
    text-align: center;
    flex: 0;
  }

  .img_front{
    align-items: center;
    text-align: center;
    width: 150px;
    height: 150px;
  }
